* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gayathri', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F4EEFF;
}

.header{
    background-color: #DCD6F7;
    padding: 0px;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}
.header h1{
    background-color: #DCD6F7;
    margin-top: 1rem;
    text-align: center;
}

.header p{
    background-color: #DCD6F7;
    margin-left: 2em;
}

.main{
    color: white;
    height: 100%;
    margin: auto 0;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.main__section{
    background-color: #424874;
    height: 350px;
    width: 350px;
    margin: 30px 50px;
    padding: 30px 0px;
    border: 2px solid rgba(60, 66, 112);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.main__section h2{
    background-color: inherit;
    text-align: center;
}

.form{
    background-color: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form__inputs, .form h3, .form img, .form label{
    background-color: inherit;
}

.form--result{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    margin-top: 20px;
}

.form--result label{
    margin-top: 0.5em;
    width: 3.5em;
    font-weight: bold;
}

.form--result p{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 130px;
    text-align: center;
    padding-top: 0.5em;
    height: 100%;
}

.input{
    background-color: inherit;
    margin: 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 50px;
    outline: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
::placeholder{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.main__section--buttons{
    background-color: inherit;
    color: inherit;
    text-align: center;
}

.main__section--buttons button{
    color: inherit;
    margin: 0px 5px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 3px;
}

.main__section--buttons button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.footer{
    background-color: #DCD6F7;
    display: flex;
    align-items: center;
    margin-top: auto;
}
.footer a {
    background-color: inherit;
    color: black;
    cursor: pointer;
    height: 5rem;
    margin-top: auto;
    text-decoration: none;
    padding-top: 2em;
    margin-left: 1em;
}
.footer a:hover{
    text-decoration: underline;
}