* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gayathri', sans-serif;
}
body{
    background-color: #F4EEFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    background-color: #DCD6F7;
    padding: 0px;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}
.header h1{
    background-color: inherit;
    margin-top: 1rem;
    text-align: center;
}

.header p{
    background-color: inherit;
    margin-left: 2em;
}

.main{
    color: white;
    height: 100%;
    margin: auto 0;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.main__section{
    background-color: #424874;
    height: 390px;
    width: 350px;
    margin: 10px 20px;
    padding: 10px 10px;
    border: 2px solid rgba(60, 66, 112);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.main__section h2{
    background-color: inherit;
    text-align: center;
}

.form{
    background-color: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form__inputs, .form label{
    background-color: inherit;
}

.form img{
    background-color: inherit;
    margin: 10px;
}

.OfferTypeContainer {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 10px;
    font-size: 14px;
}

.OfferTypeContainer select, .form--descuento button{
    background: #DCD6F7;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.form input:nth-child(1){
    font-size: 5px;
}

.form--descuento{
    text-align: center;
    height: 40px;
}

.form--result{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    margin-top: 20px;
}

.form--result label{
    width: 130px;
}

.form--result p{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 10px;
    width: 130px;
    text-align: center;
    height: 100%;
    padding-top: 6px;
}

.input{
    background-color: inherit;
    margin: 0px 10px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 100px;
    outline: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
::placeholder{
    color: white;
    text-align: center;
}

.footer{
    background-color: #DCD6F7;
    display: flex;
    align-items: center;
    margin-top: auto;
}
.footer a {
    background-color: inherit;
    color: black;
    cursor: pointer;
    height: 5rem;
    margin-top: auto;
    text-decoration: none;
    padding-top: 2em;
    margin-left: 1em;
}
.footer a:hover{
    text-decoration: underline;
}